.App {
  text-align: center;
  color: gray;
  letter-spacing: 1px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.dec,
.inc {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.dec {
  background-color: red;
  color: #fff;
  border: 1px solid red;
}
.inc {
  background-color: green;
  color: #fff;
  border: 1px solid green;
}
.btn-box p {
  padding: 0.5rem 1rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}
